@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;700&display=swap');


body {
    font-family: 'Nunito Sans', sans-serif;

    background-color: rgb(225, 228, 230);
    }

    .main_container {
        width: 800px;
        height: 500px;
        border: 0px solid white;
        border-radius: 25px;
        margin: 0 auto;
        margin-top: 20px;
        background: white;
        position: relative;
    }
    .top_background {
        width: 800px;
        height: 185px;
        border: 0px solid white;
        border-radius: 25px 25px 0px 0px;
        margin: 0 auto;
        background: rgb(198, 211, 240);
        position: relative;
    }
    .main_containerExperience {
        width: 800px;
        height: 500px;
        border: 2px solid white;
        border-radius: 25px;
        margin: 0 auto;
        margin-top: 20px;
        background: white;
        position: relative;
    }
    .main_containerEducation {
        width: 800px;
        height: 150px;
        border: 2px solid white;
        border-radius: 25px;
        margin: 0 auto;
        margin-top: 20px;
        background: white;
        position: relative;
        margin-bottom: 20px;
    }
    .foto_container {
        width: 150px;
        min-height: 150px;
        border: 2px solid white;
        border-radius: 500px;
        margin: 0 auto;
        margin-top: 25px;
        margin-left: 20px;
        background: white;
        position: absolute;
        top: 50px;
    }
    .image-center {
        display: block;
        margin: auto;
        width: 150px;
        height: 150px;
        border-radius: 500px;
        position: center;
    }
    .image-ita {
        display: block;
        margin: auto;
        width: 80px;
        height: 80px;
        border-radius: 5px;
        position: center;
        margin-left: 85px;
    }
    .image-preview {
        display: block;
        margin: 0 auto;
        width: 43px;
        height: 43px;
        border-radius: 5px;
        position: absolute;
        margin-left: 0px;
        left: 470px;
        top: 250px;
    }
    .image-preview_bsuir {
        display: block;
        margin: 0 auto;
        width: 43px;
        height: 43px;
        border-radius: 5px;
        position: absolute;
        margin-left: 0px;
        left: 470px;
        top: 310px;
    }
    .foto_container_users_bottom {
        width: 40px;
        min-height: 40px;
        border: 1px solid white;
        border-radius: 500px;
        margin: 0 auto;
        margin-top: 10px;
        margin-left: 0px;
        background: white;
        position: absolute;
        top: 100px;
       
    }
    .foto_container_users {
        width: 40px;
        min-height: 40px;
        border: 0px solid white;
        border-radius: 500px;
        margin: 0 auto;
        margin-top: 1px;
        margin-left: 0px;
        background: white;
        position: absolute;
        left: 25px;
        top: 111px;   
    }
    .image-users-bottom {
        display: block;
        margin: auto;
        width: 40px;
        height: 40px;
        border-radius: 500px;
        position: center;
        margin-left: 0px;
        left: 20px;
        
    }
    .image-users {
        display: block;
        margin: auto;
        width: 40px;
        height: 40px;
        border-radius: 500px;
        position: center;
        margin-left: 0px;
        left: 150px;
    }
    .text_block {
        width: 450px;
        height: 220px;
        border: 1px solid white;
        margin: 0 auto;
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        background: white;
        position: absolute;
        padding-top: 0px;
        top: 250px; 
        left: 25px;   
    }
    .text_block2 {
        width: 450px;
        min-height: 150px;
        border: 2px solid gray;
        margin: 0 auto;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        background: white;
        position: absolute;
        padding-top: 15px;    
    }
    
    .text_block3 {
        width: 170px;
        min-height: 25px;
        border: 2px solid white;
        margin: 0 auto;
        margin-top: 15px;
        margin-left: 20px;
        margin-bottom: 10px;
        background: white;
        position: sticky;
        padding-top: 0px;    
    }
    .text_block4 {
        width: 170px;
        height: 80px;
        border: 2px solid white;
        margin: 0 auto;
        margin-top: 5px;
        margin-left: 20px;
        margin-bottom: 15px;
        background: white;
        position: absolute;
        padding-top: 0px;    
        top: 47px;
        left: 180px;
    }
    .text_block5 {
        width: 170px;
        height: 80px;
        border: 2px solid white;
        margin: 0 auto;
        margin-top: 5px;
        margin-left: 20px;
        margin-bottom: 15px;
        background: white;
        position: absolute;
        padding-top: 0px;    
        top: 153px;
        left: 180px;
    }
    .text_block6 {
        width: 170px;
        height: 80px;
        border: 2px solid white;
        margin: 0 auto;
        margin-top: 5px;
        margin-left: 20px;
        margin-bottom: 15px;
        background: white;
        position: absolute;
        padding-top: 0px;    
        top: 270px;
        left: 180px;
    }
    .text_block7 {
        width: 185px;
        height: 80px;
        border: 2px solid white;
        margin: 0 auto;
        margin-top: 5px;
        margin-left: 20px;
        margin-bottom: 15px;
        background: white;
        position: absolute;
        padding-top: 0px;    
        top: 380px;
        left: 180px;
    }
    .text_block8 {
        width: 185px;
        height: 80px;
        border: 2px solid white;
        margin: 0 auto;
        margin-top: 5px;
        margin-left: 20px;
        margin-bottom: 15px;
        background: white;
        position: absolute;
        padding-top: 0px;    
        top: 45px;
        left: 180px;
    }
    .text_block_for_company_in_general_section {
        width: 150px;
        height: 30px;
        border: 1px solid white;
        margin: 0 auto;
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        background: white;
        position: absolute;
        padding-top: 0px;    
        top: 258px;
        left: 520px;
    }
    .text_block_for_education_in_general_section{
        width: 240px;
        height: 30px;
        border: 1px solid white;
        margin: 0 auto;
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        background: white;
        position: absolute;
        padding-top: 0px;    
        top: 310px;
        left: 520px;  
    }
    .text_block_muttual_connections{
        width: 440px;
        height: 30px;
        border: 1px solid white;     
        background: white;
        position: absolute;
        top: 370px;
        left: 95px;  
    }
    .title1 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-family:'Nunito Sans', sans-serif;
        font-weight: 500;
        color: rgb(32, 32, 32);
        font-size: 160%;
        line-height: 1;
    }
    .title2 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-family :'Nunito Sans', sans-serif;
        font-weight: 400;
        color: rgb(48, 46, 46);
    }
    .title3 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-family :'Nunito Sans', sans-serif;
        font-size: 200;
        color: rgb(73, 71, 71);
    }
    .titleEducation {
        margin-top: 0px;
        margin-bottom: 0px;
        font-family :'Nunito Sans', sans-serif;
        font-weight: 200;
        font-size: 95%;
        color: rgb(73, 71, 71);
        line-height: 1;
        margin-bottom: 5px;
    }
    .title4 {
        margin-top: 7px;
        margin-bottom: 0px;
        font-family :'Nunito Sans', sans-serif;
        font-size: 85%;
        
        color: rgb(110, 107, 107);
    }
    .Message_button{
        width: 145px;
        height: 35px;
        border: 1px solid rgb(17, 161, 228);
        border-radius: 25px;
        background: rgb(17, 161, 228);
        position: absolute;
        left: 25px;
        top: 430px;
    }
    .Message_text {
        font-family :'Nunito Sans', sans-serif;
        font-size: 115%;
        color: white;
        margin-left: 35px;
        margin-top: 4px;
    }
    .More_button {
        width: 90px;
        height: 35px;
        border: 1px solid rgba(90, 88, 88, 0.678);
        border-radius: 25px;
        background: white;
        position: absolute;
        left: 180px;
        top: 430px;  
    }
    .More_text {
        font-family :'Nunito Sans', sans-serif;
        font-size: 115%;
        color: rgba(90, 88, 88, 0.678);
        margin-left: 25px;
        margin-top: 4px; 
        margin-right: 30px;   
    }